#create-visitor-form {
    width: 50%; /* אורך הפורם */
    margin: 0 auto; /* מרכז את הפורם באמצע הדף */
    padding: 20px; /* מרווח פנימי בפורם */
    border: 1px solid #ccc; /* מסגרת לפורם */
    border-radius: 5px; /* פינות מעוגלות של המסגרת */
  }
  
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}

*, ::after, ::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}


body {
    background: rgb(188, 55, 166);
    background: linear-gradient(
      74deg,
      rgb(205, 139, 209) 18%,
      rgb(226, 226, 234) 57%
    );
  
    padding: 20px 80px;
  }
  
  #placeholder {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    gap: 15px;
    flex-wrap: wrap;
  }
  
  .visitor-card {
    max-width: 250px;
    overflow: hidden;
    background: white;
    border-radius: 20px;
    animation: fade-in 0.4s ease-in forwards;
  }
  
  .visitor-card img {
    width: 100%;
    max-width: 100%;
    object-fit: contain;
    max-height: 180px;
    margin: 0 auto;
    max-width: 250px;
  }
  
  .visitor-card p {
    text-align: center;
    padding: 2px 6px;
  }
 
  
  .empty-result {
    width: 100%;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
  }
  
  dialog {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 20px;
  }
  
  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translate(-10px, 10px);
    }
    to {
      opacity: 1;
      transform: none;
    }
  }
  